DataScience/GettingAndCleaningData/Week4/UCI HAR Dataset/train/X_train.txt
DataScience/ExploratoryDataAnalysis/Week1/household_power_consumption.txt
DataScience/ExploratoryDataAnalysis/Week4/FinalProject/.RData